[submodule "forgottenserver"]
	path = forgottenserver
	url = https://github.com/silic0nalph4/forgottenserver
[submodule "myaac"]
	path = myaac
	url = https://github.com/silic0nalph4/myaac
[submodule "orts2"]
	path = orts2
	url = https://github.com/silic0nalph4/orts2
